.footer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 25, 20, 0.1);
    color: black;
}

.footer span{
    font-weight: bold;
    color: #00DBB2;
}