.footer {

  position: absolute;
  bottom: 0;
  background-color: #123D74;
  color: #FFF;
  width: 100%;    
  text-align: center;
  line-height: 100px;
  display: flex;
  height: 80px;    
  line-height: 100px;
  justify-content: center;
}

.footer span {
  font-weight: bold;
  color: #00DBB2;
}
